<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <h1><%= day_ejs %></h1>

    <ul>
        <li>first</li>
        <li>second</li>
        <li>third</li>
    </ul>
    
    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="submitButton">New Item</button>
    </form>
</html>