<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <title>To do list</title>
</head>
<body>

    <div class="box" id="heading">
        <h1><%= title_ejs %></h1>
    </div>
    
    <div class="box">
        <% for(let i = 0; i < newListItems.length; i++){ %> 
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>

        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit_button" value=<%=title_ejs%>  >+</button>
        </form>
    </div>
        
        
    
</body>    
</html>